.copyright
  .container
    .row
      .copyright__content
        p.copyright__text For more freebies visit:
          a.copyright__link(href="#") http://getcraftwork.com
        .copyright__made-by.made-by
          span.made-by__text made with love by
          a.made-by__link(href="#") 
            img.made-by__image(src=require("./getCraftWorkLogo.png"), alt="")