footer.footer.devider__width
  .container
    .row
      .footer__media.media
        .media__logo.logo
          a.media__logo_link.logo__link(href="#")
            p.media__logo_text.logo__text
              span.logo__text_bolder new
              |providence
        p.media__description
          | It was some time before he obtained any answer, and the 
          | reply, when made, was unpropitious.
        a.media__btn-apple.btn-apple(href="#")
          span.btn-apple__image 
            include appleLogo.svg
          p.btn-apple__content
            span.btn-apple__text Download on the
            span.btn-apple__main-text App Store
        .media__soc-container.soc
          a.soc__link.soc__link_twitter(href="#")
            include TwitterIcon.svg
          a.soc__link.soc__link_facebook(href="#") 
            include FacebookIcon.svg
          a.soc__link.soc__link_google-plus(href="#")
            include GoogleIcon.svg
          a.soc__link.soc__link_tumbler(href="#")
            include TumblerIcon.svg
          a.soc__link.soc__link_pinterest(href="#")
            include PinterestIcon.svg
          a.soc__link.soc__link_linkedIn(href="#")
            include LinkedInIcon.svg
      .footer__list.learn
        h5.learn__title.footer__title learn more
        a.learn__link.footer__link How it works?
        a.learn__link.footer__link Meeting tools
        a.learn__link.footer__link Live striming
        a.learn__link.footer__link Contat method
      .footer__list.about-us
        h5.about-us__title.footer__title About us
        a.about-us__link.footer__link About us
        a.about-us__link.footer__link Features
        a.about-us__link.footer__link Privacy police
        a.about-us__link.footer__link Terms &amp; Conditions
      .footer__list.support
        h5.support__title.footer__title learn more
        a.support__link.footer__link F.A.Q.
        a.support__link.footer__link Contact us
        a.support__link.footer__link Live chat
        a.support__link.footer__link Phone call
