.container
  .row.flex
    .header__wrap
      h1.header__title What happens tomorrow?
      p.header__description 
        | The sight of the tumblers restored Bob Sawyer to a degree of equanimity
        | which he had not possessed since his interview with his landlady. His 
        | face brightened up, and he began to feel quite convivial.
      a.main-menu__link.btn__movie(href="#")
        span.btn__movie_play 
        | Watch Video
      .header__img_wrap
        img.header__img(src=require("./iPhone6.png"), alt="iPhone")
        
