doctype html
html
  head
    title webpack
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    include ../components/header/header.pug
    include ../components/section-time/time.pug
    include ../components/section-protected/protected.pug
    include ../components/section-we-are/we-are.pug
    include ../components/section-interface/interface.pug
    include ../components/section-get-it/get-it.pug
    include ../components/section-reviews/reviews.pug
    include ../components/section-plan/plan.pug
    include ../components/section-newsletters/newsletters.pug
    include ../components/footer/footer.pug
    include ../components/copyright/copyright.pug