section.section.we-are
  .container
    .row
      article.we-are__content
        .we-are__content_wrap
          h2.we-are__title We are almost everywhere
          p.we-are__description
            | Now the races of these two have been for some ages
            | utterly extinct, and besides to discourse any further
            | of them would not be at all to my purpose.
          p.we-are__description
            | Thus much I thought proper to tell you in relation to
            | yourself, and to the trust I reposed in you.
        .partners
          h5.partners__title partners

          a.partners__link(href="#")
            img.partners__img(src=require("./DropboxLogo.png"), alt="Dropbox logo")
          a.partners__link(href="#")  
            img.partners__img(src=require("./EvernoteLogo.png"), alt="Evernote logo")