//colors
$color-white: #fff;
$color-gray: #383b40;
$color-light-gray: #454b55;
$color-black: #2d323b;
$color-white-gray: #f5f5f7;

$color-blue:  #38baf2;
//transition speed
$speed-normal: 0.3s;
$text-main: avenirNext,
sans-serif;
