.mobile-menu__logo.logo
  a.logo__link(href="#")
    p.logo__text
      span.logo__text_bolder new
      |providence
span.mobile-menu_btn__close &#x2297;
ul.mobile-menu.main-menu
  li.mobile-menu__item.main-menu__item
    a.mobile-menu__link.main-menu__link(href="#") Tour
  li.mobile-menu__item.main-menu__item
    a.mobile-menu__link.main-menu__link(href="#") Features
  li.mobile-menu__item.main-menu__item
    a.mobile-menu__link.main-menu__link(href="#") Pricing
  li.mobile-menu__item.main-menu__item
    a.mobile-menu__link.main-menu__link.main-menu__link_help(href="#") Help
  li.mobile-menu__item.main-menu__item
    a.mobile-menu__link.main-menu__link(href="#") Contacts
  li.mobile-menu__item.main-menu__item
    a.mobile-menu__link.main-menu__link.mobile-menu__link_app.main-menu__link_app.btn__main_blue(href="#") 
      span.icon__apple 
        include appleIcon.svg
      | Get App
  
