section.section.time.devider__width
  .container
    .row
      article.time__item
        img.time__img(src=require("./lock.png"), alt="lock")
        h4.time__title Real-time all the time
        p.time__description 
          |Thus much I thought proper to tell you in relation to yourself, 
          |and to the trust I reposed in you. 
        p.time__description   
          |Just then her head struck 
          |against the roof of the hall: in fact she was now more than 
          |nine feet high, and she at once took up the little golden key 
          |and hurried off to the garden door.
      article.time__item
        img.time__img(src=require("./clock.png"), alt="clock")
        h4.time__title Adopt without any obstracles
        p.time__description
          |This sounded a very good reason, and Alice was quite
          |pleased to know it. 'I never thought of that before!' she said.
        p.time__description
          |This I have produced as a scantling of Jack’s great
          |eloquence and the force of his reasoning upon such
          |abstruse matters.