button.mobile-menu__btn 
  span.mobile-menu__btn_line
  span.mobile-menu__btn_line
  span.mobile-menu__btn_line


ul.main-menu.main-menu_left
  li.main-menu__item
    a.main-menu__link(href="#") Tour
  li.main-menu__item
    a.main-menu__link(href="#") Features
  li.main-menu__item
    a.main-menu__link(href="#") Pricing

.main-menu__logo.logo
  a.logo__link(href="#")
    p.logo__text
      span.logo__text_bolder new
      |providence

ul.main-menu.main-menu_right
  li.main-menu__item
    a.main-menu__link.main-menu__link_help(href="#") Help
  li.main-menu__item
    a.main-menu__link(href="#") Contacts
  li.main-menu__item
    a.main-menu__link.main-menu__link_app.btn__main_blue(href="#") 
      span.icon__apple 
        include appleIcon.svg
      | Get App