section.section.get-it
  .get-it__logo.logo
    a.logo__link(href="#")
      p.logo__text
        span.logo__text_bolder new
        |providence
  h2.get-it__title.h2__title Get it to your smartphone
  .get-it__send-email.send-email
    input.send-email__input(type="email", placeholder="denis@getcraftwork.com")
    button.send-email__btn(type="submit") 
      | Send Invite
      span.send-email__btn_arrow 
        include arrowIcon.svg
  .get-it__download.download
    h5.download__title OR DOWNLOAD FROM
    a.download__btn.btn-apple(href="#")
      span.btn-apple__image 
        include appleLogo.svg
      p.btn-apple__content
        span.btn-apple__text Download on the
        span.btn-apple__main-text App Store
