section.section.protected
  img.protected__img(src=require("./iPhone6-rotate.png"), alt="iPhone6")
  article.protected__content
    h2.protected__title Your day is protected
    p.protected__description
      | There have not been any since we have lived here, said my mother.
    p.protected__description 
      | We thought - Mr. Copperfield thought - it was quite a large 
      | rookery; but the nests were very old ones, and the birds have 
      | deserted them a long while.
    .btn__wrap
      a.btn__first.btn__main_blue(href="#") 
        | Try to hack us
        span.btn__first_arrow 
          include arrowIcon.svg

      a.btn__second(href="#") Learn more
        