section.section.plan
  .container
    .plan__wrap
      .plan__content
        h2.plan__title Choose your perfect plan
        .plan__toggle-container.toggle
          h5.toggle__title YOU ARE
          .toggle__btn-container
            div.toggle__btn.toggle__btn_active(data-num="0") Individual
            div.toggle__btn(data-num="1") Company
        p.plan__description 
          | Thus much I thought proper to tell you in relation to 
          | yourself, and to the trust I reposed in you.
        p.plan-info 
          | Have a bigger team? 
          a.plan-info__link Let‘s talk

      .plan__items-box.price
        .price-container.price__active
          .price__item
            .price__content
              h3.price__title Starter
              span.price__order free
              p.price__description Build your schedule every day
              ul.price__detail-list
                li.price__detail-item Unlimeted events
                li.price__detail-item Connect Dropbox &amp; Evernote
            a.price__btn Get started
          .price__item
            .price__content
              h3.price__title Pro
              span.price__order $4.99
              p.price__description Make your life better
              ul.price__detail-list
                li.price__detail-item Unlimeted events
                li.price__detail-item Connect Dropbox &amp; Evernote
                li.price__detail-item Personal assistant
            a.price__btn Make me a pro
        .price-container
          .price__item
            .price__content
              h3.price__title Starter
              span.price__order free
              p.price__description Build your schedule every day
              ul.price__detail-list
                li.price__detail-item Unlimeted events
                li.price__detail-item Connect Dropbox &amp; Evernote
            a.price__btn Get started2
          .price__item
            .price__content
              h3.price__title Pro
              span.price__order $4.99
              p.price__description Make your life better
              ul.price__detail-list
                li.price__detail-item Unlimeted events
                li.price__detail-item Connect Dropbox &amp; Evernote
                li.price__detail-item Personal assistant
            a.price__btn Make me a pro2