section.section.newsletters.devider__width
  .container
    .row
      h2.newsletters__title.h2__title Subscribe our newsletters
      .newsletters__send-email.send-email
        input.send-email__input(type="email", placeholder="Your e-mail")
        button.send-email__btn(type="submit") 
          | Subscribe
      p.newsletters__description We promice to never spam you.
          
